<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/emailLayout.html}" lang="en">
<head>
    <title>Account Activation</title>
</head>
<body>
<div layout:fragment="content">
    <p th:text="'Hello, ' + ${name} + '!'"></p>
    <p>Welcome to Journey !</p>
    <p>Thank you for registering with us. We're excited to have you on board. To complete your registration and activate
        your account, please click the button below:</p>

    <div class="important align-center" style="margin: 2rem">
        <a class="cta-btn" th:href="@{${activationUrl}}">Activate your account</a>
    </div>
    <p>
        <strong>Need Help?</strong>
        If you encounter any issues during the activation process or have any questions, please do not hesitate to
        <a href="https://github.com/nramc/journeys/issues" target="_blank">contact us</a>. We're here to help!
    </p>

    <p>If you did not create an account with us, please ignore this email. Your account will not be activated, and you
        will not receive any further emails from us.</p>
</div>
</body>
</html>
