<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Journey</title>
    <link href="style.css" rel="stylesheet">
</head>
<body class="email-template">
<div th:fragment="layout(title, content)" class="container">
    <div class="header align-center">
        <h1 style="width: 100%" class="align-center">
            <img src="cid:logo.png" class="brand-logo" alt="Journey" width="64" height="64">Journey
        </h1>
    </div>
    <div class="content fs-medium">
        <th:block th:replace="${content}"/>
    </div>
    <br/>
    <div class="div-regards fw-bold fs-medium">
        <p>
            <span>Regards,</span><br/>
            <span>Your Journey Team</span>
        </p>
    </div>
    <div style="color: darkgrey;" class="div-disclaimer fs-medium">
        <p>Note: Please do not reply to this email directly.</p>
        <p>Contact us with any queries by creating ticket:
            <a href="https://github.com/nramc/journeys/issues" target="_blank">GitHub: Journey Issues</a>
        </p>
    </div>
    <div class="footer align-center fs-medium">
        <p style="width: 100%">&copy; <span th:text="${copyrightYear} + ' Journey. All rights reserved.'"></span> </p>
    </div>
</div>
</body>
</html>
