<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Journey</title>
    <style layout:replace="~{layout/style.html :: styles}"></style>
</head>
<body>
<div class="container">
    <div class="header align-center">
        <h1 style="width: 100%" class="align-center"><img src="cid:logo.png" alt="Journey">Journey</h1>
    </div>
    <div class="content" layout:fragment="content">
        <!-- Content will be inserted here -->
    </div>
    <div style="color: darkgrey">
        <p>Note: Please do not reply to this email directly.
        </p>
        <p>Contact us with any queries by creating ticket:
            <a href="https://github.com/nramc/journeys/issues" target="_blank">GitHub: Journey Issues</a>
        </p>
    </div>
    <div class="footer align-center">
        <p style="width: 100%">&copy; 2024 Journey. All rights reserved.</p>
    </div>
</div>
</body>
</html>
