spring:
  application:
    name: ${app.name}
    version: ${app.version}
  ai:
    openai:
      api-key: ${GEMINI_API_KEY}
      base-url: https://generativelanguage.googleapis.com/v1beta/openai
      chat:
        completions-path: /chat/completions
        options:
          model: gemini-2.5-flash
          max-completion-tokens: 2048
  data:
    mongodb:
      auto-index-creation: true
  jackson:
    deserialization:
      fail-on-null-for-primitives: false
  mail:
    host:
    port:
    username: ${NOREPLY_EMAIL}
    password: ${NOREPLY_EMAIL_PWD}
    test-connection: true
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
  mongodb:
    database: journey-dev

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    prometheus:
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true

app:
  name: Journey API
  version: '@project.version@'
  ui-app-url: https://journey.codewithram.dev
  security:
    webauthn:
      rp-id: journey.codewithram.dev
      rp-name: Journey
      origin: https://journey.codewithram.dev
    totp:
      number-of-digits: 6
      secret-length: 32
      totp-algorithm: SHA1
      time-step-size-in-seconds: 30
      max-allowed-time-step-discrepancy: 1
      qr-type: totp
      qr-width: 500
      qr-height: 500
      qr-issuer: Journey
    cors:
      properties:
        - path: /**
          allowed-origins: https://nramc.github.io, https://journey.codewithram.dev
          allowed-methods: GET, POST, PUT, OPTIONS, DELETE
          allowed-headers:
            - Authorization
            - Content-Type
            - X-Async-Process
          allow-credentials: true


jwt:
  private-key: 'file:/etc/secrets/jwt-private.key'
  public-key: 'file:/etc/secrets/jwt-public.pub'
  ttl: 1h
  issuer: self

springdoc:
  api-docs:
    enabled: true
    path: /doc/openapi
    version: openapi_3_0

  swagger-ui:
    queryConfigEnabled: true
    path: /doc/swagger-ui.html
  group-configs:
    - group: Journeys
      packages-to-scan:
        - com.github.nramc.dev.journey.api.web.resources.rest.journeys
    - group: Users
      packages-to-scan:
        - com.github.nramc.dev.journey.api.web.resources.rest.users
    - group: Auth
      packages-to-scan:
        - com.github.nramc.dev.journey.api.web.resources.rest.auth
    - group: API Info
      packages-to-scan:
        - com.github.nramc.dev.journey.api.web.resources.rest.api
    - group: Timeline
      packages-to-scan:
        - com.github.nramc.dev.journey.api.web.resources.rest.timeline

service:
  cloudinary:
    api-key: ${CLOUDINARY_API_KEY}
    api-secret: ${CLOUDINARY_API_SECRET}
    cloud-name: ${CLOUDINARY_CLOUD_NAME}
    additional-properties:
      secure: true
    root-directory: journey/journey-dev

server:
  address: 0.0.0.0
  compression:
    enabled: true
    mime-types: application/json,application/geo+json,text/html

logging:
  level:
    root: info
